* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{

    border-radius: 10px;
    width: 300px;
    margin: auto auto;
    /*box-shadow: 0px 0px 20px rgb(0 34 255);
        background: white;
    */
    text-align: center;



}

.domingo{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}













.grid-container {
    font-family: 'Finger Paint', cursive;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: "a1 a2 a3" "a4 a5 a6" "a7 a8 a9";
    width: auto;
    height: auto;
    font-size: 90px;
    line-height: 1;
    margin: 10px;
  }
  
  .a1 { grid-area: a1; }
  
  .a2 { grid-area: a2; }
  
  .a3 { grid-area: a3; }
  
  .a4 { grid-area: a4; }
  
  .a5 { grid-area: a5; }
  
  .a6 { grid-area: a6; }
  
  .a7 { grid-area: a7; }
  
  .a8 { grid-area: a8; }
  
  .a9 { grid-area: a9; }

.cor{
    background-color: gold;
      
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
    border: 3px solid black;
  }



  .contadorPTS{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 2rem;
    line-height: 1;


  }


.btn2 {
    font-family: 'Finger Paint', cursive;
    color: rgb(0, 0, 0);
    background-color: gold;
    border: 3PX solid black;
    font-size: 2rem;
    border-radius: .5rem;
    margin: 20PX;

    box-shadow: 0px 0px 50px rgb(0, 0, 0);
}

.btn3 {
    font-family: 'Finger Paint', cursive;
    color: rgb(0, 0, 0);
    background-color: gold;
    border: 3PX solid black;
    font-size: 2rem;
    border-radius: .5rem;
    margin: 10PX;
    text-shadow: 1px 1px 1px rgb(153, 153, 153);
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
}

.btn4 {
    font-family: 'Finger Paint', cursive;
    color: rgb(255, 255, 255);

    font-size: 1.5rem;
    border-radius: 1rem;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
    line-height: 0.5;
}



.gridzada{
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer{
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 40px;
}
